*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }


h1{
position: absolute;
width: 260px;
height: 100%;
left: 92px;
top: 72px;

}
.hr{
  color: white;
  margin-left: 215px;
  
}

.col {
  background: #222936
}
h2{
  background: #222936;
}
.search-controller{
  color: #ffffff;
}
h2{
  position: absolute;
  width: 288px;
  height: 28px;
  left: 328px;
  top: 102px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}
.container{
  margin-left: 234px;
}
.controller{
  color: #fff;
  position: relative;
  }
.controller .btn{
width: 30px;
height: 40px;
position: absolute;
background: transparent;
border: 0;
font-size: 20px;
position: absolute;
margin-left: 800px;
color:#FFFFFF;
position: absolute;
width: 55px;
height: 16px;
top: 10px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: rgba(143, 143, 143, 0.48);
}
.controller input[type=text]{
border: 0;
display: block;
height: 41px;
width: 400px;
margin-left: 800px;
top: 1px;
border-radius: 4px;
background: rgba(255, 255, 255, 0.04);
box-sizing: border-box;
padding-left: 100px;
}
.box{
  position: absolute;
width: 197px;
height: 210px;
left: 123px;
top: 330px;

background: rgba(19, 26, 37, 0.85);
border-radius: 4px;
}
@media all and (max-width:1100px){
  .controller{
    align-self: flex-start;
		margin: 0px 0px 0px 0px;
  }
  .controller .btn{
		width: 10px;
		height: 55px;
		position: absolute;
		background: transparent;
		border: 0;
		font-size: 15px;
		margin-left: 100px;
		color:#FFFFFF;
		position: absolute;
		width: 55px;
		height: 16px;
		top: 3px;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		color: rgba(143, 143, 143, 0.48);
  }
  .controller input[type=text]{
    border: 0;
		outline: none;
		height: 30px;
		color: #fff;
		border-radius: 05px;
		display: block;
		margin: 10px 0;
		box-sizing: border-box;
		padding-left: 100px;  
    margin-left: 100px;
    width: 300px;
  }
  h2{
    position: absolute;
    width: 88px;
    height: 20px;
    left: 94px;
    top: 102px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    color: #FFFFFF;
  }
}