
.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100%;
  transition: all 0.5s ease;
  cursor: pointer;
}
.sidebar.inactive ~ .home-section{
  left: 0px;
  width: calc(100% - 78px);
}

.home-section .home-content{
  height: 60px;
  display: flex;
  align-items: center;
  width:calc(100%-260px);

}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #1a191b;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}
@media (max-width: 400px) {

  .sidebar.inactive.small-screen{
    width: 0;
  }

  .sidebar.inactive.small-screen ~ .home-section{
    width: 100%;
    left: 0;
    z-index: 100;
  }
}