.navbar{
	height: 73px;
	display: flex;
	font-size: 14px;
	background:#2A3240;
	width: calc(100%-94px);
}
.navbar.inactive {
	margin-left: 0px;
	margin-left: -6rem;
	-webkit-transition: margin 0.25s ease-out;
	-moz-transition: margin 0.25s ease-out;
	-o-transition: margin 0.25s ease-out;
	transition: margin 0.25s ease-out;
} 
.item i{
	color:#726761;
	cursor: pointer;
	width: 24px;
	height: 24px;
	top: px;
	justify-content: space-between;
	left: 60px;
	line-height: 14px;
	gap: 10px;
}
.search-controller{
	color: #fff;
		position: relative;
}
.search-controller .search-btn{
	width: 30px;
	height: 40px;
	position: absolute;
	background: transparent;
	border: 0;
	font-size: 20px;
	position: absolute;
	margin-left: 0px;
	color:#FFFFFF;
	position: absolute;
	width: 55px;
	height: 16px;
	top: 15px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: rgba(143, 143, 143, 0.48);
  }
		.search-controller input[type=text]{
			border: 0;
			display: block;
			margin: 2px 0;
			padding-left: 100px;
			height: 41px;
			width: 915px;
			left: 114px;
			top: 1px;
			border-radius: 4px;
			background: rgba(255, 255, 255, 0.04);
			box-sizing: border-box;
				}
				.avatar{
					border-radius: 16px;
					width: 37.94px;
					height: 37.94px;
					left: 1260.41px;
					top: 17.53px;
					}
					
  .mail, .profile_name{
			width: 79px;
			height: 12px;
			left: 1311px;
			top: 41px;
			margin-left: 10px;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 10px;
			line-height: 12px;
			/* identical to box height */
			
			
			color: rgba(255, 255, 255, 0.7);
		}
		.item{
			position: relative;
			display: flex;
		margin-right: 0px;
	align-items: center;
	position: relative;
	cursor: pointer;
	font-style: 20px;
	margin-left: 10px;
	color:#726761;
	cursor: pointer;
		}
		.left{
			cursor: pointer;
	color:#726761;
		}
		.counter{
		border-radius: 50%;
		box-sizing: border-box;
		position: absolute;
		left: 60.09%;
		right: 9.09%;
		top: 0%;
		bottom: 68.18%;
		background: #E64547;
		border: 1px solid #2A3240;
		}
			


							@media screen and (max-width:1100px){
								.search-controller{
									align-self: flex-start;
									margin: 0px 0px 0px 0px;
								}
								.search-controller input[type=text]{
									border: 0;
									outline: none;
									height: 40px;
									color: #fff;
									border-radius: 05px;
									display: block;
									margin: 10px 0;
									width:100%;
									box-sizing: border-box;
									padding-left: 100px;
								}
.view, .avatar{
	align-items: center;
	font-size: large;
	background:#2A3240;
}	

.counter{
	border-radius: 50%;
	box-sizing: border-box;
	position: absolute;
	left: 59.09%;
	right: 9.09%;
	top: 0%;
	bottom: 68.18%;
	background: #E64547;
	border: 1px solid #2A3240;
	}
	.mail, .profile_name{
		width: 79px;
		height: 12px;
		left: 1311px;
		top: 41px;
		
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 10px;
		line-height: 12px;
		/* identical to box height */
		
		
		color: rgba(255, 255, 255, 0.7);
	}
	.navbar{
		height: px;
		display: flex;
		font-size: 14px;
		background:#2A3240;
		width: calc(100%-94px);
	}
								}
