
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.wrapper{
  display: flex;
  min-height: 100%;
}
.sidebar{
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  height: 1024px;
  width: 94px;
  background-size: cover;
  z-index: 100;
  transition: all 0.5s ease;
  position: fixed;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #191F2C 0%, #131221 100%);
  border-radius: 0px;
  
  
}
.sidebar.inactive{
  width: 94px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  min-width: 94px;
  font-size: 30px;
  text-align: center;
  Width:59px;
  Height:39px;
  Top:20px;
  Left:15px;
  color: #717171;

}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.inactive .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav{
  height: 100%;
  padding: 30px 0 100px 0;
  overflow: auto;
}
.sidebar.inactive .nav{
  overflow: visible;
}
.sidebar .nav::-webkit-scrollbar{
  display: none;
}
.sidebar .nav li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav li:hover{
  background: linear-gradient(180deg, #191F2C 0%, #131221 100%);

}
.sidebar .nav li .icon{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

{/*.sidebar.inactive .nav li .icon{
  display: block
}*/}
.sidebar .nav li i{
  min-width: 94px;
  text-align: center;
  color: #717171;
  cursor: pointer;
  transition: all 0.3s ease;
  Width:59px;
  Height:39px;
  Top:20px;
  Left:15px;
}
.sidebar .nav li.showMenu i.arrow{
  transform: rotate(-180deg);
  
}
.sidebar.inactive .nav i.arrow{
  display: none;
}

.sidebar .nav li a{
  display: flex;
  align-items: center;
  text-decoration: none;
  
}
.sidebar .nav li a .link-name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease; 
   Width:59px;
  Height:39px;
  Top:20px;
  Left:15px;
  
  
}
.sidebar.inactive .nav li a .link-name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  position: absolute;
  width: 92px;
  height: 84px;
  left: 123px;
  top: 99px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 42px;
  /* or 42px */
  
  text-transform: capitalize;
  
  color: #FFFFFF;
  

  {/*display: none;*/}

  
}
.sidebar.nav .sub-menu  .active{
  max-height: 180px;
  
}

.sidebar .nav li .sub-menu a{
  width: 92px;
  height: 84px;
  left: 123px;
  top: 99px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 298.19%;
/* or 42px */

  text-transform: capitalize;

  color: #FFFFFF;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
  {/*color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
  position: absolute;*/}

}
.sidebar .nav li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.inactive .nav li .sub-menu{
  position: absolute;
  top: -10px;
  margin-top: 10;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.inactive .nav li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav li .sub-menu .link-name{
  display: none;
}
.sidebar.inactive .nav li .sub-menu .link-name{
  font-size: 18px;
  opacity: 1;
}
.sidebar .nav li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .p-del{
  position: fixed;
  bottom: 0;
  width: 94px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #c27108;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.inactive .p-del{
  background: none;
}
.sidebar.inactive .p-del{
  width: 94px;
}
.sidebar .p-del .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .p-del img{
  height: 35px;
  width: 35px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 25px;
  background: #1d1b31;
  transition: all 0.5s ease;
  left: 28px;
  top: 948px;
  text-align: center;
  color: #717171;
  cursor: pointer;
  transition: all 0.3s ease;

 
}
.sidebar.inactive .p-del img{
  padding: 10px;
}
.sidebar .p-del .profile_name,
.sidebar .p-del .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.inactive .p-del i,
.sidebar.inactive .p-del .profile_name,
.sidebar.inactive .p-del .job{
  display: none;
}
.sidebar .p-del .job{
  font-size: 12px;
}

@media (max-width: 400px) {

  .sidebar.inactive.small-screen{
    width: 0;
  }

  .sidebar.inactive.small-screen ~ .home-section{
    width: 100%;
    left: 0;
    z-index: 100;
  }
}
.Container{
  margin-left: 94px;
  transition: margin-left .2s ease-in;
  padding: 0px;
  box-sizing: border-box;
}
.Container.inactive{
  margin-left: 94px;
}